body {
	background-color: #E339B6;
	color: white;
	font-family: 'Boogaloo', cursive;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
	height: 10%;
	width: 100%;
	font-size: 150%;
	padding-top: 2%;
}

a#logo {
	padding-left: 5%;
}

nav {
	float: right;
	padding-right: 5%;
}

.main {
	position: relative;
	height: 100%;
	width: 100%;
}

.header ul li {
	display: inline;
}

.content {
	position: relative;
	padding-top: 5%;
	font-size: 500%;
	text-align: center;
	padding-bottom: 5%;
}

.footer {
	text-align: center;
	/*clear: both;*/
	bottom: 10;
	position: absolute;
	width:100%;
	font-size: 120%;
}

.footer ul li {
	display: inline-block;
	font-size: 110%;
	height: 15%;
}

#twitter {
	display: none;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}

#linkedin {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}

#github {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}

p {
	margin: 0;
	padding: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
	text-decoration: none;
	color: inherit;
	opacity: 0.6;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	opacity: 1;
};

a:visited {
	text-decoration: none;
};

.adjecting {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin-x: 50%;
}

.adjecting {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin-x: 50%;
}

.adjecting .front-face, .adjecting .back-face {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.adjecting .front-face {
  position: absolute;
}

.adjecting .back-face {
  position: relative;
}

/* ======================================================
 * CSS for Demo pages only - Not required with the plugin
 * =================================================== */
#robo-wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#robo-wrapper {
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
}

#robo-wrapper #option-details {
  display: inline-block;
  font-size: 18px;
  padding: 2px 7px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.08);
  font-family: monospace;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

.paragraph-content #heading {
  margin: 0 auto;
  font-size: 100%;
  font-weight: 900;
  text-align: center;
}

.paragraph-content #sub {
  width: 70%;
  height: 200px;
  margin: 0 auto;
  font-size: 50%;
  text-align: center;
}

#html {
	height: 50px;
	width: 50px;
}