html {
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
}
.container {
   height: 90%;
   width: 90%;
   margin-top: 2%;
   margin-left: auto;
   margin-right: auto;
   position:relative;
   /*border: solid 2px white;*/
}

body {
	background-color: #21dede;
	color: white;
	font-family: 'Boogaloo', cursive;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body:after {
	/*z-index: -1;*/
	background-image: url('/images/dev.png');
	background-repeat: no-repeat;
}

.header {
	height: 10%;
	width: 100%;
	font-size: 150%;
	padding-top: 2%;
}

a#logo {
	padding-left: 5%;
}

nav {
	float: right;
	padding-right: 5%;
}

.header ul li {
	display: inline;
}

.main {
	position: relative;
	width: 100%;
	margin-bottom: 200px;
}

.content {
	position: relative;
	padding-top: 5%;
	font-size: 100px;
	text-align: center;
	padding-bottom: 5%;
	height: 60%;
}

/*@media (max-width:663px){
	.content {
		font-size: 400%;
	}
}

@media (max-width:500px){
	.content {
		font-size: 300%;
	}

}

@media (max-height:640px){
	.content {
		font-size: 450%;
	}
}

@media (max-height:500px) {
	.content {
		font-size: 400%;
	}
}

@media (max-height:450px) {
	.content {
		font-size: 350%;
	}
}

@media (max-height:340px) {
	.content {
		font-size: 320%;
	}
}*/

@media (max-height:300px) {
	p#made {
		display: none;
	}
}

@media (max-height:250px) {
	p#dev {
		display: none;
	}
}
.footer {
	text-align: center;
	/*clear: both;*/
	bottom: 10;
	position: absolute;
	width:100%;
	font-size: 120%;
	z-index: 100;
}

.footer ul li {
	display: inline-block;
	font-size: 110%;
	height: 15%;
}

#twitter {
	display: none;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}

#linkedin {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}

#github {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}

p {
	margin: 0;
	padding: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
	text-decoration: none;
	color: inherit;
	opacity: 0.6;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	opacity: 1;
};

a:visited {
	text-decoration: none;
};


/*@media only screen and (min-width:374px) and (max-height:666px){

	.content { 
		font-size: 500%;
	}

}*/
