body {
	background-color: #4982DE;
	color: white;
	font-family: 'Boogaloo', cursive;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
	height: 10%;
	width: 100%;
	font-size: 150%;
	padding-top: 2%;
}

a#logo {
	padding-left: 5%;
}

nav {
	float: right;
	padding-right: 5%;
}

.main {
	position: relative;
	height: 100%;
	width: 100%;
}

.header ul li {
	display: inline;
}

.content {
	position: relative;
	padding-top: 5%;
	font-size: 500%;
	text-align: center;
	padding-bottom: 5%;
}

.footer {
	text-align: center;
	/*clear: both;*/
	bottom: 10;
	position: absolute;
	width:100%;
	font-size: 120%;
}

.footer ul li {
	display: inline-block;
	font-size: 110%;
	height: 15%;
}

#twitter {
	display: none;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}

#linkedin {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}

#github {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}

p {
	margin: 0;
	padding: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
	text-decoration: none;
	color: inherit;
	opacity: 0.6;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	opacity: 1;
};

a:visited {
	text-decoration: none;
};
