<head>
	<link rel="stylesheet" type="text/javascript" href="./css/about.css">
</head>
<body>
	<section class="header">
	<a href="/" id="logo">HOME</a>
	<nav>
		<ul>
			<li><a href="/about">ABOUT </a></li>/
			<li><a href="/portfolio">PORTFOLIO </a></li>/
			<li><a href="/contact">CONTACT </a></li>
		</ul>
	</nav>
</section>
<section class="main">
	<section class="content">
		<body>
		<section class="container">
			<section class="main">   	
				<section id="robo-wrapper" class="paragraph-content">
      		<section id="heading" class="contain"><span class="adject">I'M</span> <span class="adject">AWESOME!!|SIMPLE!|A CODER!|ADAPTABLE!|NERDY!</span></section>
	      </section>
        	<section id="robo-wrapper" class="paragraph-content">
        		<section id="sub" class="contain"><span class="adject">At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren.
        		| 
        		Sanctus sea sed takimata ut vero voluptua. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        		| 
        		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Sanctus sea sed takimata ut vero voluptua. Lorem ipsum dolor.
        		| 
        		Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        		| 
        		Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet.</span></section>
        	</section>
      	</section>
		</section>
	</section>
</section>
<section class="footer">
	<ul>
		<li><section class="twitter"><a href="https://twitter.com/TScully87">TWITTER <section id="twitter"></section></section></a></li> /
		<li><a href="https://uk.linkedin.com/pub/tim-scully/a7/31b/b63/"> LINKEDIN </a></li> /
		<li><a href="https://github.com/scully87"> GITHUB </a></li>
	<ul><br>
<p>copyright &copy; Tim Scully 2014</p>
 <script type="text/javascript">
	  		$(document).ready(function(){
      			$(".contain .adject").adjector({
        			sep: "|",
        			stay: 5000,
        			trans: 1850,
        			arm: 1
      			});
			});
		</script>
		<script type="text/javascript" src="./js/adjector.js"></script>
</section>
</body>