<head>
	<link rel="stylesheet" type="text/javascript" href="./css/about.css">
</head>
<body>
	<section class="header">
	<a href="/" id="logo">HOME</a>
	<nav>
		<ul>
			<li><a href="/about">ABOUT </a></li>/
			<li><a href="/portfolio">PORTFOLIO </a></li>/
			<li><a href="/contact">CONTACT </a></li>
		</ul>
	</nav>
</section>
<section class="main">
	<section class="content">
		<body>
		<section class="container">  	
				<section id="robo-wrapper" class="paragraph-content">
      		<section id="heading" class="contain"><span class="adject">I'M A </span> <span class="adject"> WEB DEVELOPER| HTML5 GURU| CSS3 ADDICT| JQUERY JUNKIE</span></section>
	      </section>
        	<section id="robo-wrapper" class="paragraph-content">
        		<section id="sub" class="contain"><span class="adject">SPECIALISING IN SIMPLE AND EFFECTIVE WEB DESIGN
        		| 
        		<"SECTIONS"> <"SECTIONS"> <"SECTIONS">
        		| 
        		#SECTION { AWESOME-COLORS }
        		| 
        		$(DOCUMENT).READY {
        		 QWIRKY FUNCTIONS }
        	</section>
      	</section>
		</section>
	</section>
</section>
<section class="footer">
	<ul>
		<li><a href="https://twitter.com/TScully87">TWITTER</a></li> /
		<li><a href="https://uk.linkedin.com/pub/tim-scully/a7/31b/b63/"> LINKEDIN </a></li> /
		<li><a href="https://github.com/scully87"> GITHUB </a></li>
	<ul><br>
<p>copyright &copy; Tim Scully 2014</p>
</section>
 <script type="text/javascript">
	  		$(document).ready(function(){
      			$(".contain .adject").adjector({
        			sep: "|",
        			stay: 3500,
        			trans: 750,
        			arm: 0
      			});
			});
	</script>
		<script type="text/javascript" src="./js/adjector.js"></script>
</body>