<head>
	<link rel="stylesheet" type="text/css" href="./css/contact.css">
</head>
<section class="container">
	<section class="header">
		<a href="/" id="logo">HOME</a>
		<nav>
			<ul>
				<li><a href="/about">ABOUT </a></li>/
				<li><a href="/portfolio">PORTFOLIO </a></li>/
				<li><a href="/contact">CONTACT </a></li>
			</ul>
		</nav>
	</section>
	<section class="main">
		<section class="content">
				<p id="name"></p>
				<p id="dev"></p>
			<span>
				<p id="made"></p>
			</span>
		</section>
	</section>
	<section class="footer">
		<ul>
			<li><section class="twitter"><a href="https://twitter.com/TScully87">TWITTER <section id="twitter"></section></section></a></li> /
			<li><a href="https://uk.linkedin.com/pub/tim-scully/a7/31b/b63/"> LINKEDIN </a></li> /
			<li><a href="https://github.com/scully87"> GITHUB </a></li>
		<ul><br>
	<p>copyright &copy; Tim Scully 2014</p>
	</section>
</section>