<section class="header">
	<a href="/" id="logo">HOME</a>
	<nav>
		<ul>
			<li><a href="/about">ABOUT </a>/</li>
			<li><a href="/portfolio">PORTFOLIO </a>/</li> 
			<li><a href="/contact">CONTACT </a></li>
		</ul>
	</nav>
</section>
<section class="main">
 <section class="content">
 	<p id="1"></p>
 	<p id="2"></p>
 </section>
</section>
<section class="footer">
	<ul>
		<li><a href="#">TWITTER </a>/</li>
		<li><a href="#">LINKEDIN </a>/</li>
		<li><a href="#">GITHUB</a></li>
	<ul>
<p>copyright &copy; Tim Scully 2014</p>
</section>