<html>
  <head>
    <title>Tim Scully</title>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css'>
    <script src="https://iamdanfox.github.io/typetype/jquery.typetype.min.js" type="text/javascript"></script>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript" src="./js/interface.js"></script>
  </body>
</html>