<html>
  <head>
    <title>Tim Scully</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css'>
    <script src="https://iamdanfox.github.io/typetype/jquery.typetype.min.js" type="text/javascript"></script>
    <script src="https://malsup.github.io/min/jquery.cycle2.min.js"></script>
    <script src="https://malsup.github.io/min/jquery.cycle2.flip.min.js"></script>
    <script type="text/javascript" src="./js/jquery.waterwheelCarousel.min.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>