<head>
	<link rel="stylesheet" type="text/css" href="./css/portfolio.css">
</head>
<section class="container">
	<section class="header">
	<a href="/" id="logo">HOME</a>
	<nav>
		<ul>
			<li><a href="/about">ABOUT </a></li>/
			<li><a href="/portfolio">PORTFOLIO </a></li>/
			<li><a href="/contact">CONTACT </a></li>
		</ul>
	</nav>
</section>
<section class="main">
	<section id="carousel">
		<a href="https://onnie-scully.herokuapp.com"><img src="/images/mum1.png" alt="Image 1" /></a>
		<img src="/images/rsz_dev.png" alt="Image 2" />
		<img src="/images/rsz_html.png" alt="Image 3" />
		<img src="/images/rsz_jquery.png" alt="Image 4" />
		<img src="/images/rsz_css.png" alt="Image 5" />
	</section>
</section>
<section class="footer">
	<ul>
		<li><section class="twitter"><a href="https://twitter.com/TScully87">TWITTER <section id="twitter"></section></section></a></li> /
		<li><a href="https://uk.linkedin.com/pub/tim-scully/a7/31b/b63/"> LINKEDIN </a></li> /
		<li><a href="https://github.com/scully87"> GITHUB </a></li>
	<ul><br>
	<p>copyright &copy; Tim Scully 2014</p>
	</section>
</section>
<script type="text/javascript">
  $(document).ready(function() {
    $("#carousel").waterwheelCarousel({
      speed: 1000,
      autoPlay: 5000,
      keyboardNav: true,
    });
  });
</script>